.profile-project-pic {
    width: 640px;
    height: 360px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
  
  }
  
  .pro-proj-container{
    background: linear-gradient(141deg, #a0f1ff, #3f6b8a, #89c9f6);
    background-size: 600% 600%;
  
    
    
    -webkit-animation: gradientAnimation 22s ease infinite;
    -moz-animation: gradientAnimation 22s ease infinite;
    animation: gradientAnimation 22s ease infinite; 
  }
  
  .profile-container {
    /* height: 100vh; */
    height: 100%;
    width: 90vw;
    padding: 10px;
    background: rgba(190, 193, 200, 0.239);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  
  }
  
  .profile-image{
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(24, 23, 80, 0.219);
  }
  
  .profile-right{
    margin-left: 50px;
    color:white;
    text-align: left;
    
  }
  
  .linkedin {
    display: flex;
  }
  
  .linkedin-logo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .head-container {
    height: 300px;
  }
  
  /* .pro-proj-container {
  
  } */
  
  /* .prof-header {
  
  } */
  
  .prof-name {
    font-size: 34px;
    font-weight: 800;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
  }
  
  .prof-username {
    font-size: 20px;
    color: lightblue;
  }
  
  .prof-email {
    font-size: 15px;
    border-width: 0px;
  
  }
  
  .prof-linkedin {
    font-size: 15px;
    border-width: 0px;
  }
  
  .carousel-control-next {
    height: 360px;  
  
  }
  
  .carousel-control-prev {
    height: 360px;
  }
  
  .carousel-control-next-icon {
    background-color: black;
  }
  
  .carousel-control-prev-icon {
    background-color: black;
  }
  
  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
  }
  
  .project-header button:hover {
    cursor: pointer;
  }