
.featuredlist-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 30px;
    background-color: rgb(231, 249, 255);
    margin-top: 50px;
    z-index: 5;
}