

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
}

.project-submit-form{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 50%; */
    /* margin-left:30px; */
}

.text-info-container{
    width:100%;
}

.input-description-container{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-title-container{
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.title-input-form{
    border-width: 0px;
    border-bottom-width: 2px;
    margin-left: 60px;
    width:80%;
}

.description-input{
    height: 200px;
    margin-left: 60px;
    width:80%;


    /* width: 100%; */
    /* margin: 10px; */

}

.input-container {
    width: 500px;
}


.upload-project-container{
    background: linear-gradient(141deg, #a0f1ff, #3f6b8a, #89c9f6);
    background-size: 600% 600%;

    
    
    -webkit-animation: gradientAnimation 22s ease infinite;
    -moz-animation: gradientAnimation 22s ease infinite;
    animation: gradientAnimation 22s ease infinite;    padding: 30px 50px;

}

.upload-image-container{
    background-color: red;
    width: 100%;
    height: 100px;
}

.submit-button{
    align-self: center;
    margin: 50px;

    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	/* border:1px solid #0b0e07; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.submit-button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}



@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
