

.story-chapter-list{
    margin-top: 120px;
    z-index: -1;
}

.user-chapter-grey{
    background-color: rgb(245, 245, 245);
    border-color: black;
    border-style: solid;
    border-width: 0;
    /* border-bottom-width: 1px; */
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.user-chapter-white{
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-style: solid;
    border-width: 0;
    /* border-bottom-width: 1px; */
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chapter-link{
    display: flex;
    align-items: center;
    margin: 0px 20px;
    color:#232C33;
    text-decoration: none;
}

.chapter-name{
    margin-left: 20px;
}

.story-title{
    color:rgb(51, 51, 51);
    font-size: 52px;
    margin-top: 20px;
}

.story-pic{
    width: 100%;
    height: 100%;
    z-index: 0;

}

.story-banner{
    background-color: #6A8EAE;
    /* padding-top: 20px; */
 
/* z-index: 2; */
}

.story-image-banner{
    background-color: rgb(56, 77, 95);
    height: 350px;
    z-index: 0;

}

.story-description{
    color: rgb(117, 117, 117);
}

.chapter-button{
    border-width: 0;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    color: rgb(138, 138, 138);
}

.story-info-banner{
    /* width: 500px; */
    /* height: 300px; */
    width: 500px;
    padding: 20px 0;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
background-color: white;
z-index: 10;
margin: 0px 40px;
margin-top: -110px;
position: absolute;

}

.links{
    text-decoration: none;
}

.new-chapter-button{
    width: 100px;
    background-color: rgb(68, 68, 68);
    padding: 10px 20px;
    border-radius: 100px;
    color:white;
    font-weight: 800;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-top: 20px;
    margin-left: 80%;
}

.new-chapter-button:hover{
    transform: scale(1.1);
    background-color: rgb(97, 96, 96);
}

.subscribe-button{
    padding: 0px 5px;
    background: rgb(161,24,24);
    background: linear-gradient(45deg, rgba(161,24,24,1) 0%, rgba(244,91,73,1) 96%);
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    color: white;
    font-weight: 800;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.subscribe-button-subscribed{
    padding: 0px 5px;
    background: rgb(149, 148, 148);
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    color: white;
    font-weight: 800;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chapter-icon-pic{
    width: 64px;
    height: 64px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(60, 67, 73);
    border-width: 2px;
}


.sub-count-text{
    opacity: .5;
}