.review-post-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-left:20px;
    font-size: 20px;
    font-weight: 800;
    z-index: 10;
    display: flex;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    margin: 10% 10%;
    width: 80vw;
    height: 480px;
  
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.65);
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  
  .review-post-hide{
    display: none;
    position: fixed; /* Stay in place */
  
    background-color: blue;
  }
  .signup-label{
    margin:0;
  }
  
  .signup-input{
    border-width: 0px;
    border-bottom-width: 2px;
    font-size: 15px;
    margin-left: 20px;
  }

  
  .signup-right-side{
    background-color: white;
    background: linear-gradient(141deg, white 320px, rgba(209, 209, 209, 0.253) 20px); 
    z-index: 11;
  
  }
  
  .signup-left-side{
    width:60%;
    height: 100%;
    background: linear-gradient(141deg, #a0f1ff, #3f6b8a);
    /* background-image: url('../../../assets/projectsBack.png');  */
  }
  
  
  .copy-text{
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(47, 78, 83, 0.39);
    margin: 180px 30px;
  }
  
  .signup-button-2{
    /* background: linear-gradient(141deg, #a0f1ff, #3f6b8a); */
    background-color: #b9b9b9;
    margin-top:10px;
    margin: 25px auto;
    padding:  5px 70px;
    transition: all .2s ease-in-out;
  }
  
  .signup-button-2:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .close-button2{
    padding: 20px;
    border-radius: 200px;
    background-color: rgb(52, 54, 66);
    font-size: 25px;
    font-weight: 800;
    color: rgb(183, 183, 183);
    
    position: absolute;
    top:-20px;
    left:92%;
  }
  
  .close-button2:hover{
    background-color: rgb(91, 89, 89);
    cursor: pointer;
  }
  
  
  @keyframe flipAni{
    0%{
      transfrom: scaleX(-1)
    }
    100%{
      transfrom: scaleX(1)
  
    }
  }